<template>
  <section class="container">
    <main
      :class="
        typeof weather.main != 'undefined' && weather.main.temp < 16
          ? 'cold'
          : ''
      "
    >
      <div class="search-box">
        <label>
          <input
            type="text"
            name="weather-search"
            id="weather"
            placeholder="search..."
            v-model.trim="query"
            @keypress="fetchWeather"
          />
        </label>
      </div>
      <section
        class="error"
        v-if="!errorMsg && typeof weather.main == 'undefined'"
      >
        <h3>Please Enter City Name Or Enter Volid City</h3>
      </section>
      <section class="weather-datail" v-else>
        <div class="weather-box">
          <h1>{{ Math.round(weather.main.temp) }}°C</h1>
          <h3>Feel Like {{ Math.round(weather.main.feels_like) }}</h3>
          <h3>Min Temp {{ Math.round(weather.main.temp_min) }}</h3>
          <h3>Max Temp {{ Math.round(weather.main.temp_max) }}</h3>
          <h2>
            {{ weather.weather[0].main }}
          </h2>
          <h5 class="date">{{ dateBuilder() }}</h5>
          <section>
            <h3>{{ weather.name }},{{ weather.sys.country }}</h3>
            <h5>
              Long : {{ weather.coord.lon }} lat :
              {{ weather.coord.lat }}
            </h5>
          </section>
        </div>
      </section>
    </main>
  </section>
</template>

<script>
export default {
  data() {
    return {
      weather_api: process.env.VUE_APP_API,
      query: "",
      weather: {},
      errorMsg: false,
    };
  },
  methods: {
    fetchWeather(e) {
      if (e.key === "Enter" && this.query !== "") {
        fetch(
          `https://api.openweathermap.org/data/2.5/weather?q=${this.query}&units=metric&APPID=${this.weather_api}`
        )
          .then((response) => {
            return response.json();
          })
          .then(this.setResults);
        this.errorMsg = true;
      } else {
        this.errorMsg = false;
      }
    },
    setResults(results) {
      this.weather = results;
    },
    dateBuilder() {
      let d = new Date();
      let months = [
        "January",
        "February",
        "March",
        "April",
        "May",
        "June",
        "July",
        "August",
        "September",
        "October",
        "November",
        "December",
      ];
      let days = [
        "Sunday",
        "Monday",
        "Tuesday",
        "Wednesday",
        "Thursday",
        "Friday",
        "Saturday",
      ];

      let day = days[d.getDay()];
      let date = d.getDate();
      let month = months[d.getMonth()];
      let year = d.getFullYear();

      return `${day} ${date} ${month} ${year}`;
    },
  },
};
</script>

<style lang="scss">
@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Roboto&family=Staatliches&family=Viaoda+Libre&display=swap");
@import "node_modules/normalize-scss/sass/_normalize.scss";
@include normalize();
$white: #fff;
$black: #000;
body {
  min-width: 100%;
  background: #566f97;
  overflow: hidden;
}
.container {
  width: 100%;
  transition: all 0.2s;
}
.search-box {
  margin: 2% auto;
}
.cold {
  background: url("./assets/cold-bg.jpg");
  color: lighten($color: $black, $amount: 40%);
  text-shadow: 2px 3px 2px transparentize($color: $white, $amount: 0.2);
}
input {
  outline: none;
  appearance: none;
  border: none;
  background: transparentize($color: $white, $amount: 0.5);
  border-radius: 20px;
  width: 250px;
  height: 50px;
  padding: 0 2%;
  box-shadow: 2px 2px 10px transparentize($color: $black, $amount: 0.7);
  transition: all 0.2s;
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  &:focus {
    background: transparentize($color: $white, $amount: 0.2);
    box-shadow: 2px 2px 15px transparentize($color: $black, $amount: 0.4);
    border-radius: 25px;
  }
}
main {
  margin: 10% auto;
  width: 350px;
  background: url("./assets/warm-bg.jpg") no-repeat;
  background-size: cover;
  border: 5px;
  box-shadow: 1px 1px 15px transparentize($color: $black, $amount: 0.4);
  border-radius: 20px;
  min-height: 60vh;
  display: grid;
  justify-content: center;
  align-items: center;
  align-content: baseline;
  text-align: center;
  line-height: 0.6;
  color: $white;
  text-shadow: 1px 3px rgba(0, 0, 0, 0.25);
}
h1,
h2,
h3,
h5 {
  font-size: 3.5rem;

  font-family: "Staatliches", cursive;
}
h2 {
  font-size: 3rem;
}
h5 {
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
}
h3 {
  font-size: 2rem;
  font-family: "Viaoda Libre", cursive;
}
.error {
  line-height: 1.5;
  padding: 0 2%;
  font-family: "Dela Gothic One", cursive;
  font-size: 2rem;
  transition: all 0.2s;
}
</style>
